/*-------MAIN-SCREEN-------*/
.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 9px;
}

.card {
    display: flex;
    flex-direction: column;
}
.card-header {
    background-color: var(--header-bg);
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;

    display: flex;
    justify-content: center;
    align-content: center;

    height: 60px;
    padding: 8px 22px;

    cursor: pointer;
}
.card-content {
    background-color: var(--card-bg);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    
    padding: 22px;
    height: 150px;
}
/*-----END-MAIN-SCREEN-----*/